 body {
    text-align: center;
    background-image: url(../images/oriental.png);
}

 h1 {
    color: white;
    padding: 10px;
    background-color: #0C5A2C;
}

.article-title, a {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.panel-title {
    background-color: white;
    width: 50%;
    padding: 10px;
}  

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}